@model InvoiceApp.Pages.ReceiptModel;

<button class="edit activity-btn">Edit</button>
<button href="/delete" class="delete activity-btn">Delete</button>
@if(Model.Receipt.Status != "paid")
{
    <button href="/invoice-paid" class="mark-as-paid activity-btn">Mark as Paid</button>
}
