<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvoiceApp</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InvoiceApp.styles.css" asp-append-version="true" />
    
    @RenderSection("TailwindCDN", required: false)

    <link rel="icon" type="image/x-icon" href="/favicon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
       
    </header>
    <div class="container">
        <main role="main" class="">
            <div class="main-content-wrapper">
                <aside class="menu-aside">
                    <div class="logo-wrapper">
                        <img src="assets/logo.svg" alt="Brand Logo"/>
                        <div></div>
                    </div>

                    <button class="theme-mode-btn">
                        <img class="sun" src="assets/icon-sun.svg" />
                    </button>

                    <div class="avatar-wrapper">
                        <img class="avatar" src="assets/avatar.jpg" alt="Sun icon for toggling light/dark mode" />
                    </div>
                </aside>


                <div class="invoice-box">
                    @RenderBody()
                </div>
            </div>       
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>