$text-color-variant: #adbdc4;

.invoice-content {
  font-family: "League Spartan", serif;
  .heading-wrapper {
    h1 {
      color: var(--brand-white);
      font-size: 1.5rem;
      font-weight: 600;
      font-optical-sizing: auto;

      @media (min-width: 480px) {
        font-size: 2rem;
      }

      @media (min-width: 768px) {
        font-size: 2.5rem;
      }
    }

    button.filter-opener {
      font-size: 1.2rem;
      font-weight: 500;
    }

    .filter-box .filter-form-group {
      font-size: 0.9rem;

      @media (min-width: 1024px) {
        font-size: 1rem;
      }
    }

    div.new-invoice-btn-wrapper {
      button {
        font-size: 1.05rem;
        font-weight: 600;
      }
    }

    div.filter-box {
      label {
        font-weight: 600;
      }
    }
  }

  .invoice-row-wrapper {
    .invoice-row {
      text-align: left;
      div.l-wrapper {
        @media (min-width: 768px) {
          font-size: 0.95rem;
        }
        span:first-child {
          font-size: 0.9rem;
          font-weight: 600;

          @media (min-width: 480px) {
            font-size: 1rem;
          }
        }

        span:last-child {
          font-size: 1rem;
        }
      }
    }

    div.r-wrapper {
      div:first-child {
        .amount {
          font-size: 1.2rem;
          font-weight: 600;
          @media (min-width: 768px) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

span.i-status {
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;

  &.paid {
    color: #33d69f;
  }
  &.pending {
    color: #ff8f00;
  }
}

//new invoice form

aside.form-box {
  & * {
    font-family: "League Spartan", serif;
  }

  // fieldset generic styles
  fieldset {
    legend {
      color: var(--brand-blue-heading);
    }

    legend,
    & label,
    & input {
      font-size: 1rem;
    }

    & label,
    & input {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

.bill-items-wrapper {
  h2 {
    color: $text-color-variant;
  }
}

.new-item-btn {
  text-align: center;
  color: #adbdc4;
  font-weight: 600;

  &:hover {
    color: #335260;
  }
}
